.tip-content {
  box-shadow: 0 0 10px 0 rgba(102, 102, 102, 0.5);
  background-color: #ffffff;
  border: 1px solid #999999;
  border-radius: 4px;
  max-width: 600px;
  padding: 20px 20px 10px 20px;
  color: #666666;
  font-size: 12px;
  line-height: 1;
  margin-left: 5px;
}
.icon {
  display: inline-block;
}
